:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    --hover-color: #B9BFEC;
    --active-color: #fff
}
[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
    --hover-color: #D5D8F3;
    --active-color: #fff
}
body{
    background-color: var(--bg-color);
}
.button{
    background-color: var(--secondary-color);
}
.tabs .tab a:hover, .tabs .tab a.active{
    background-color: var(--bg-color);
    color: var(--font-color);
}
.tabs .tab a:hover, .tabs .tab a{
    background-color: var(--bg-color);
    color: var(--font-color);
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
    background-color: #D5D8F3;
    color: var(--font-color);
}
.tabs .indicator{
    background-color: #D5D8F3;
}
.league-card{
    background-color: var(--secondary-color);
    color: var(--font-color);
}
.leagueBetButton{
    background-color: var(--secondary-color) !important;
}
.leagueBetButton.active{
    background-color: var(--active-color) !important;
}